Repository akash-network/cosmos-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/auth, C:x/authz, C:x/bank, C:x/capability, C:x/crisis, C:x/distribution, C:x/evidence, C:x/feegrant, C:x/genutil, C:x/gov, C:x/mint, C:x/params, C:Simulations, C:x/slashing, C:x/staking, C:x/upgrade, C:Cosmovisor, C:Rosetta, C:Keys, Type: Build, Type: CI, C:CLI, Type: ADR

fix(authz): incorrect parser of grantee store key
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  x/authz/keeper/keys.go
  x/authz/keeper/keys_test.go
Labels: C:x/authz, Type: CI

fix(authz): incorrect parser of grantee store key (#1091)
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  x/authz/keeper/keys.go
  x/authz/keeper/keys_test.go
Labels: C:x/authz, Type: CI

chore: use akash fork of cometbft
  go.mod
  go.sum
Labels: none

!feat: implement secondary index for authz store
  simapp/go.mod
  simapp/sim_test.go
  tests/go.mod
  x/authz/keeper/grpc_query.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keys.go
  x/authz/keeper/keys_test.go
Labels: C:x/authz

!chore(x/authz): set consensus version to 3 to incorporate akash specific store changes
  x/authz/module/module.go
Labels: C:x/authz

.github/labeler.yml:

---
"C:x/auth":
  - changed-files:
      - any-glob-to-any-file: x/auth/**/*
"C:x/authz":
  - changed-files:
      - any-glob-to-any-file: x/authz/**/*
"C:x/bank":
  - changed-files:
      - any-glob-to-any-file: x/bank/**/*
"C:x/capability":
  - changed-files:
      - any-glob-to-any-file: x/capability/**/*
"C:x/crisis":
  - changed-files:
      - any-glob-to-any-file: x/crisis/**/*
"C:x/distribution":
  - changed-files:
      - any-glob-to-any-file: x/distribution/**/*
"C:x/evidence":
  - changed-files:
      - any-glob-to-any-file: x/evidence/**/*
"C:x/feegrant":
  - changed-files:
      - any-glob-to-any-file: x/feegrant/**/*
"C:x/genutil":
  - changed-files:
      - any-glob-to-any-file: x/genutil/**/*
"C:x/gov":
  - changed-files:
      - any-glob-to-any-file: x/gov/**/*
"C:x/mint":
  - changed-files:
      - any-glob-to-any-file: x/mint/**/*
"C:x/params":
  - changed-files:
      - any-glob-to-any-file: x/params/**/*
"C:Simulations":
  - changed-files:
      - any-glob-to-any-file: x/simulation/**/*
      - any-glob-to-any-file: x/*/simulation/**/*
"C:x/slashing":
  - changed-files:
      - any-glob-to-any-file: x/slashing/**/*
"C:x/staking":
  - changed-files:
      - any-glob-to-any-file: x/staking/**/*
"C:x/upgrade":
  - changed-files:
      - any-glob-to-any-file: x/upgrade/**/*
"C:Cosmovisor":
  - changed-files:
      - any-glob-to-any-file: cosmovisor/**/*
"C:Rosetta":
  - changed-files:
      - any-glob-to-any-file: contrib/rosetta/**/*
"C:Keys":
  - changed-files:
      - any-glob-to-any-file: client/keys/**/*
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: Makefile
      - any-glob-to-any-file: Dockerfile
      - any-glob-to-any-file: docker-compose.yml
      - any-glob-to-any-file: scripts/*
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: .github/**/*.yml
      - any-glob-to-any-file: buf.yaml
      - any-glob-to-any-file: .mergify.yml
      - any-glob-to-any-file: .golangci.yml
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: client/**/*
  - x/*/client/**/*
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: docs/architecture/**/*
